@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

html {
    scroll-behavior: smooth;
  }
body{
    background-color:rgb(180, 172, 201);
    font-family: 'Courier New', Courier, monospace;
}
header{
    justify-content: center;
    padding: 50px 50px 50px 50px;
    margin: 0px;

    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(25, 15, 34);
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}
header:hover{
    background-color: rgb(33, 17, 46);
}
.navi{
    padding: 25px;
    margin: 25px;
    color: aliceblue;
    text-align: center;
}
.navi:hover{
    font-size: 24px;
    color: blueviolet;
}
.links{
    color: aliceblue;
}
.links:hover{
    color: rgb(180, 172, 201);
}
.fotoportada{
    display: block;
    margin: 0 auto;
    border-radius: 25px;

    animation: fadeIn 1.5s ease-in-out;
}
h1, h2{
    text-align: center;
}
.titulos{
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
section{
    margin: 20px 250px 20px 250px;
    padding: 20px 25px 20px 20px;
    background-color: rgb(25, 15, 34);
    animation: fadeIn 2s ease-in-out;
    color: aliceblue;
    text-align: justify;
    padding: 25px;
    border-radius: 25px;
    transition: background-color 0.5s ease-in-out;
}
section:hover{
    background-color: rgb(43, 25, 61);
}
.textos{
    font-family: Helvetica, sans-serif;
}